::-webkit-scrollbar {
width: 0.5rem;
height: 0.5rem;
}

::-webkit-scrollbar-track {
background: transparent;
border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
background: var(--grey);
border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
background: var(--darker-grey);
}

*{
    scrollbar-color: var(--grey) transparent;
    scrollbar-width:thin;
    scrollbar-arrow-color: transparent;
}